body {
  margin: 0;
  padding: 0;
}

.focus-container {
  display: flex;
  align-items: center;
  height: 100vh;
}

.focused-title {
  font-size: 50px;
  font-family: "Libre Baskerville", serif;
  border-left: 5px solid orangered;
  border-radius: 5px;
}

.focused-content {
  width: 50%;
  padding: 5%;
}

.focused-content img {
  width: 100%;
}

.first-title {
  color: orangered;
}

.button {
  text-decoration: none;
  padding: 10px 20px;
  background-color: orangered;
  color: aliceblue;
  border-radius: 5px;
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.5rem;
  font-weight: 600;
}

.mission-vission {
  text-align: center;
}

.mission {
  width: 370px;
  background-color: #e8f3f3;
  padding: 2%;
  border-radius: 10px;
}

.mission-image img {
  width: 50%;
  padding-right: 100%;
}

.vission {
  width: 370px;
  background-color: #f3eaee;
  padding: 2%;
  border-radius: 10px;
}

.vission-image img {
  width: 50%;
  padding-right: 100%;
}

.goals {
  width: 370px;
  background-color: papayawhip;
  padding: 2%;
  border-radius: 10px;
}

.goals-image img {
  width: 50%;
  padding-right: 100%;
}

.all-mission {
  display: flex;
  margin-bottom: 10%;
  justify-content: space-evenly;
  padding: 50px;
  margin-left: 200px;
  margin-right: 200px;
}

.title-name {
  text-align: left;
  font-size: 3rem;
}

.mission-title {
  font-size: 4rem;
  font-family: "Rubik", sans-serif;
}

p {
  text-align: justify;
  font-size: 30px;
}

.developer-container {
  display: flex;
  width: 100%;
  align-items: center;
  margin-top: 100px;
}
.developer-image img {
  width: 60%;
  margin-left: 20%;
}
.developer-content {
  width: 50%;
  margin-right: 20%;
}

.developer-title {
  font-size: 5rem;
}

.community-image img {
  width: 50%;
  margin-left: 25%;
}

.community-content {
  width: 50%;
  margin-left: 6%;
}

.community-title {
  font-size: 5rem;
}

.information {
  display: flex;
  width: 100%;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.information-image img {
  width: 80%;
  margin-left: 10%;
}

.my-info {
  width: 60%;
  margin-right: 10%;
}

.details {
  margin-left: 5%;
  margin-bottom: 40px;
  padding-right: 5%;
  padding-bottom: 5%;
}

.details h1 {
  font-size: 50px;
  color: black;
  margin-bottom: 20px;
}

.details p {
  line-height: 30px;
  color: rgb(0, 0, 0);
}

.form input {
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  border-bottom: 1px solid gray;
}
.submit-button {
  text-decoration: none;
  padding: 10px 30px;
  background-color: orangered;
  color: aliceblue;
  border-radius: 5px;
  display: inline-block;
  margin-top: 50px;
  font-size: 1.5rem;
  font-weight: 600;
}

footer {
  background-color: black;
  color: white;
  padding: 30px;
  text-align: center;
}

.footer-title {
  font-size: 2.5rem;
  font-family: "Lobster", cursive;
}

#title {
  color: orangered;
}

.name {
  color: purple;
  font-size: 50px;
}

.contact-title {
  font-size: 2.5rem;
}
